[submodule "RiftWeb/submodules/webogram"]
	path = RiftWeb/submodules/webogram
	url = https://github.com/zhukov/webogram.git
[submodule "gen-submodules/telegramcli"]
	path = gen-submodules/telegramcli
	url = https://github.com/vysheng/tg.git
[submodule "RiftApp/submodules"]
	path = RiftApp/submodules
	url = https://github.com/telegramdesktop/tdesktop.git
