<h2>RIP. You got a 404.</h2>
<img style="width: 50vh;" src="https://media1.tenor.com/images/78ceaecbda240a1bce4b6923f1aeeb11/tenor.gif?itemid=14997175"/>
{{#if invalidRift}}
  <h3>It appears you've visited a rift that doesn't exist.</h3>
{{/if}}