<div class="landingbuttons">
    <button class="btn btn-dark" onclick="window.location.href='/rifts';">Rifts</button>
    <br /><br />
    <button class="btn btn-warning" onclick="window.location.href='/tests';">Socket Tests</button>
    <br /><br/ >
    <button class="btn btn-info" onclick="window.location.href ='/newRift';">+ Create a new Rift</button>
</div>
